*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.pai {
    display: grid;
    grid-template-areas:
    "cab cab cab cab"
    "menu cont cont cont"
    "rod rod rod rod ";
grid-template-rows:  80px 160vh 60px ;
grid-template-columns: auto ;
}
    

.item {
    padding: 20px;
    box-sizing: border-box;
}

.cab {grid-area: cab;}
.menu {grid-area: menu;}
.cont {grid-area: cont;}
.rod {grid-area: rod;}

ul {
list-style:none;
width:100%;
float:left;
padding:0px;
gap: 10px;

}

ul li a {
text-decoration:none;   
color:#020202; 
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
position:relative;
display: block;
width: 100%;
float:left;
margin: 4px 15px;
padding: 0px;
border-width: 0px 0px 3px 0px;    
border-color:transparent;
border-style:solid;
}

ul li:hover a {

color: #007cff;
border-width: 0px 0px 3px 0px;    
border-color:#007cff;
border-style:solid;

}
@media (min-width:48em){

ul li { display:block; width:auto; margin: 8px 20px; padding: 10px;}

} 

h1 {
    position: absolute;
    top: 20%;
    left: 45%;
    font-family: playfair;
    font-size: 60px;
  
  }
  
  .dados  {
    width: 400px;
    height: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 37%;
    left: 47%;
  
  }
  
  img {
    position: absolute;
    width: 15%;
    border-radius: 50%;
    top: 14%;
    left: 17%;
    background: linear-gradient(to bottom, #ff512f, #f09819, #ffffff);
  }
  
  .face {
    width: 4%;
    position: absolute;
    top: 60%;
    left: 37%;
    background: none;
  }
  
  .insta {
    width: 4%;
    position: absolute;
    top: 60%;
    left: 47%;
    background: none;
  }
  
  .zap {
    width: 4%;
    position: absolute;
    top: 60%;
    left: 57%;
    background: none;
  }
  
  .git {
    width: 4%;
    position: absolute;
    top: 60%;
    left: 67%;
    background: none;
  }
  
  hr {
    width: 8%;
    height: 5px;
    border: 1px solid #ffc000;
    border-radius: 5px;
    position: absolute;
    top: 31%;
    left: 35%;
    background: #ffc000;
    
  }
  .casal{
    position: absolute;
    width: 50%;
    height: 70%;
    top:10%;
    left: 110%;
    background: #ffffff;    
    border: 1px solid #ffc000;
    border-radius: 5px;
    transform: rotate(10deg);
  }
  .jiu{
    position: absolute;
    width: 50%;
    height: 70%;
    top: 15%;
    left: -105%;
    background: #ffffff;    
    border: 1px solid #ffc000;
    border-radius: 5px;
    transform: rotate(-10deg);
  
  }
  .container {
    width: 60vh;
    height: 50vh;
    position: absolute;
    top: 80%;
    left: 45%;
  }
  h2{
    position: absolute;
    top: -10%;
    left: -90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  .qs{
    position: absolute;
    top: 6%;
    left: -90%;
  }
  .resPessoal, .formacao{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 15%;
    left: -35%;
    text-align: justify;
    line-height: 20px;
    text-indent: 30px;
  }
 
  h3{
    position: absolute;
    top: 100%;
    left: -93%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  
  .fa{
    position: absolute;
    top: 127%;
    left: -93%;
  }
  .formacao{
    position: absolute;
    top: 135%;
    left: -35%;
  }
  .rodape{
  width: 80%;
  height: 20%;
  position: absolute;
  top: 165%;
  }
  .face2 {
    width: 2%;
    position: absolute;
    top: 58%;
    left: 95%;
    background: none;
  }
  
  .insta2 {
    width: 2%;
    position: absolute;
    top: 58%;
    left: 100%;
    background: none;
  }
  
  .zap2 {
    width: 2%;
    position: absolute;
    top: 58%;
    left: 105%;
    background: none;
  }
  
  .git2 {
    width: 2%;
    position: absolute;
    top: 58%;
    left: 110%;
    background: none;
  }
  .contato{
    position: absolute;
    top: 60%;
    left: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  }
  .direitos{
    position: absolute;
    top: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  }
  .desen{
    position: absolute;
    top: 60%;
    left: 42%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  }
  



